---
import LandingLayout from "@layouts/LandingLayout.astro";
---

<LandingLayout>
  <Fragment slot="head">
    <title>Holy Unblocker</title>
  </Fragment>
  <div id="particles-js">
    <div class="content">
      <img
        src="/holey.png"
        width="256"
        height="256"
        alt="Holy Unblocker Logo"
      />
      <div class="title">Holy Unblocker</div>
      <div class="links">
        <a href="https://discord.gg/VZguJSmMcN">Discord</a>
        <a href="https://github.com/holywebwork">GitHub</a>
        <a href="https://holyubofficial.net/">Main Instance</a>
      </div>
      <div class="copy">&copy; Holy Unblocker <span id="year">----</span></div>
    </div>
  </div>
  <script src="/particles.min.js" is:inline></script>
  <script>
    //@ts-ignore
    particlesJS.load("particles-js", "particles.json", () => {
      console.log("particlesjs loaded,..");
    });

    document.getElementById("year")!.textContent = new Date()
      .getUTCFullYear()
      .toString();
  </script>
</LandingLayout>
