---
import "@fontsource/lato";
import "@fontsource/lato/700.css";
import "@fontsource/montserrat-alternates";
import "@fontsource/montserrat-alternates/600.css";
import "@styles/root.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="og:image" content="/tnbanner.jpg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
